{% include 'core/base.html' %}
{% load static %}

{% block content %}
    <div class="messenger__page">
        <div class="messenger__card rounded">
            <div class="chat__info">
                <p class="chat__title">{{ room.name }}</p>
                <p class="chat__members">Участники: 2</p>
                <p class="chat__date">{{ room.created_at }}</p>
            </div>
            <div class="chat__messages" id="chat-messages">
                {% for message in messages %}
                    <div class="left__message rounded">
                        <p class="message__username">{{ message.user.username }}</p>
                        <p class="message__text"> {{ message.content }}</p>
                    </div>
                {% endfor %}
            </div>
            <form action="." method="post" class="form-control">
                <input type="text" name="content" id="chat-message-input" class="chat__input" placeholder="Message...">
                <button class="send__btn" id="chat-message-submit">
                    <img src="{% static 'images/send-message.svg' %}" alt="1">
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ room.slug|json_script:"json-roomname" }}
    {{ request.user.username|json_script:"json-username" }}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}