{% extends 'core/base.html' %}
{% load static %}

{% block title %}<title>Chat page</title>{% endblock %}

{% block custom_header %} {% endblock %}

{% block content %}
    <div class="messenger__page">
        <div class="messenger__card">
            <div class="chat__info">
                <div class="chat__header">
                    <p class="chat__title">{{ room.name }}</p>
                    <a href="#" class="link chat__door" id="chat-door"><img src="{% static 'images/logout.svg' %}" alt="logout"></a>
                </div>
                <p class="chat__members">Members: {{users}}</p>
                <p class="chat__date">{{ room.created_at }}</p>
            </div>
            <div class="chat__messages" id="chat-messages">
                {% for message in messages %}
                    <div class="left__message rounded">
                        <div class="message__container">
                            <p class="message__username">{{ message.user.username }}</p>
                            <p class="message__text">{{ message.content }}</p>
                            <br>
                        </div>
                        <p class="message__date"> {{ message.created_at|date:"H:i" }}</p>
                    </div>
                {% endfor %}
<!--                    <div class="right__message rounded">-->
<!--                        <div>-->
<!--                            <p class="message__username">1</p>-->
<!--                            <p class="message__text"> 2312</p>-->
<!--                        </div>-->
<!--                        <p class="message__date"> 222</p>-->
<!--                    </div>-->
            </div>
            <form action="." method="post" class="form-control">
                <input type="text" name="content" id="chat-message-input" class="chat__input" placeholder="Message...">
                <button class="send__btn" id="chat-message-submit">
                    <img src="{% static 'images/send-message.svg' %}" alt="1">
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ room.name|json_script:"json-roomname" }}
    {{ request.user.username|json_script:"json-username" }}
    <script src="{% static 'js/socket.js' %}"></script>
    <script src="{% static 'js/messages.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}