{% include 'core/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="chat__page">
            <div class="chat__card rounded">
               <p class="card__title">Choose / create chat</p>
                {% for room in rooms %}
                    <div class="chat__rooms">
                        <a href="{% url 'chat' room.slug %}" class="link room__link rounded">{{ room }}</a>
                    </div>
                {% endfor %}
                <form class="chat__form">
                   <input type="text"  class="input rounded" placeholder="Enter the chat name">
                   <button class="chat__btn">Create</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}