{% include 'core/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="chat__page">
            <div class="chat__card rounded">
               <p class="card__title">Choose / create chat</p>
                {% for room in rooms %}
                    <div class="chat__rooms">
                        <a href="{% url 'chat' room.name %}" class="link room__link rounded">{{ room }}</a>
                    </div>
                {% endfor %}
                <form class="chat__form" method="post" action="{% url 'checkview' %}">
                    {% csrf_token %}
                   <input type="text" name="room_name" id="room_name" class="input rounded" placeholder="Enter the chat name">
                   <button type="submit" class="chat__btn">Create</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}