.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: #2C2C2E;
    font-family: 'Open Sans';
}

/* Header styles */
header {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    background-color: rgba(125, 125, 224);
}

.nav__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.3em;
}

.nav__li {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: #FFFFFF;
}

.link:hover {
    color: plum;
}

.link img {
    height: 25px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* Home page styles */
.title {
    width: auto;
    height: 18px;
    font-weight: 800;
    font-size: 128px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media (max-width: 1800px) {
    .title {
        font-size: 94px;
    }
}

@media (max-width: 1200px) {
    .title {
        font-size: 64px;
    }
}
/* Surface Duo adaptive */
@media (max-width: 540px) {
    .title {
        font-size: 40px;
    }
}
/* Mobile adaptive */
@media (max-width: 428px) {
    .title {
        font-size: 32px;
    }
}
/* iPhone XR adaptive */
@media (max-width: 414px) {
    .title {
        font-size: 32px;
    }
}
/* iPhone Pixel 5 adaptive */
@media (max-width: 393px) {
    .title {
        font-size: 28px;
    }
}
/* iPhone 12 Pro adaptive */
@media (max-width: 390px) {
    .title {
        font-size: 28px;
    }
}
/* iPhone SE adaptive */
@media (max-width: 375px) {
    .title {
        font-size: 28px;
    }
}
/* Samsung Galaxy Fold adaptive */
@media (max-width: 280px) {
    .title {
        font-size: 20px;
    }
}

.background {
    width: 100%;
    height: 970px;
    padding: 0px;
    margin: 0px;
    background-image: url('/static/images/background.svg');
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
}
/* Desktop adaptive */
@media (max-width: 1440px) {
    .background {
        height: 1024px;
    }
}
/* Surface Pro 7 adaptive */
@media (max-width: 912px) {
    .background {
        height: 1368px;
    }
}
/* Tablet adaptive */
@media (max-width: 834px) {
    .background {
        height: 1194px;
    }
}
/* iPad Air adaptive */
@media (max-width: 820px) {
    .background {
        height: 1180px;
    }
}
/* iPad Air adaptive */
@media (max-width: 768px) {
    .background {
        height: 1024px;
    }
}
/* Surface Duo adaptive */
@media (max-width: 540px) {
    .background {
        height: 720px;
    }
}
/* Mobile adaptive */
@media (max-width: 428px) {
    .background {
        height: 926px;
    }
}
/* iPhone XR adaptive */
@media (max-width: 414px) {
    .background {
        height: 896px;
    }
}
/* iPhone SE adaptive */
@media (max-width: 412px) {
    .background {
        height: 915px;
    }
}
/* Pixel 5 adaptive */
@media (max-width: 393px) {
    .background {
        height: 851px;
    }
}
/* iPhone 12 Pro adaptive */
@media (max-width: 390px) {
    .background {
        height: 844px;
    }
}
/* iPhone SE adaptive */
@media (max-width: 375px) {
    .background {
        height: 667px;
    }
}
/* Samsung Galaxy S8+ and S20 Ultra adaptive */
@media (max-width: 360px) {
    .background {
        height: 740px;
    }
}
/* Samsung Galaxy Fold adaptive */
@media (max-width: 280px) {
    .background {
        height: 653px;
    }
}

.background:hover {
    transform: scale(1.05);
}

/* sign in page styles */
.sign-in__card {
    width: 546px;
    height: 292px;
    background: #FFFFFF;
    border-radius: 0.5em;
}
/* iPad Air adaptive */
@media (max-width: 820px) {
    .sign-in__card  {
        width: 750px;
    }
}
/* Surface Duo */
@media (max-width: 540px) {
    .sign-in__card {
        width: 500px;
    }
}

/* Mobile adaptive */
@media (max-width: 428px) {
    .sign-in__card {
        width: 380px;
    }
}

/* iPhone XR adaptive */
@media (max-width: 414px) {
    .sign-in__card {
        width: 380px;
    }
}
/* iPhone 12 Pro adaptive */
@media (max-width: 390px) {
    .sign-in__card {
        width: 375px;
    }
}
/* iPhone SE adaptive */
@media (max-width: 375px) {
    .sign-in__card {
        width: 340px;
    }
}
/* Galaxy Fold adaptive */
@media (max-width: 280px) {
    .sign-in__card {
        width: 270px;
    }
}

.card__title {
    font-size: 1.8em;
    border-bottom: 1px solid gainsboro;
    text-align: center;
    padding: 0px 0px 18px 0px;
}

/* Galaxy Fold adaptive */
@media (max-width: 280px) {
    .card__title {
        font-size: 1.3em;
    }
}

.auth__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth__form input {
    width: 500px;
    height: 40px;
    border: 1.8px solid gainsboro;
    text-indent: 1em;
}
/* iPad Air adaptive */
@media (max-width: 820px) {
    .auth__form input {
        width: 700px;
    }
}
/* Surface Duo */
@media (max-width: 540px) {
    .auth__form input {
        width: 450px;
    }
}

/* Mobile adaptive */
@media (max-width: 428px) {
    .auth__form input {
        width: 345px;
    }
}

/* iPhone XR adaptive */
@media (max-width: 414px) {
    .auth__form input {
        width: 345px;
    }
}
/* iPhone SE adaptive */
@media (max-width: 375px) {
    .auth__form input {
        width: 310px;
    }
}
/* Galaxy Fold adaptive */
@media (max-width: 280px) {
    .auth__form input {
        width: 240px;
    }
}

.card__button {
    background: #5D5FEF;
    border-radius: 5px;
    padding: 11px 25px 11px 25px;
    border: none;
    color: #FFFFFF;
}

button:hover {
    background: #44f5b1;
    color: #5D5FEF;
}

.rounded {
    border-radius: 0.5em;
}

.shadow {
    box-shadow: 0px 40px 30px 10px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 1px #E5E5EA;
}

#password {
    margin: 0.8em 0em 0.8em 0em;
}

/* register page styles */
.sign-up__card {
    width: 546px;
    height: auto;
    background: #FFFFFF;
    border-radius: 0.5em;
    padding-bottom: 1.5em;
}
/* iPad Air adaptive */
@media (max-width: 820px) {
    .sign-up__card {
        width: 750px;
    }
}
/* Surface Duo adaptive */
@media (max-width: 540px) {
    .sign-up__card {
        width: 500px;
    }
}
/* iPhone XR adaptive */
@media (max-width: 414px) {
    .sign-up__card {
        width: 400px;
    }
}
/* Pixel 5 adaptive */
@media (max-width: 393px) {
    .sign-up__card {
        width: 370px;
    }
}
/* iPhone 12 Pro adaptive */
@media (max-width: 390px) {
    .sign-up__card {
        width: 370px;
    }
}
/* iPhone SE adaptive */
@media (max-width: 375px) {
    .sign-up__card {
        width: 330px;
    }
}
/* Galaxy Fold adaptive */
@media (max-width: 280px) {
    .sign-up__card {
        width: 250px;
    }
}

.sign-up__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up__form input {
    width: 500px;
    height: 40px;
    border: 1.8px solid gainsboro;
    text-indent: 1em;
    margin-bottom: 0.7em;
}
/* iPad Air adaptive */
@media (max-width: 820px) {
    .sign-up__form input {
        width: 680px;
    }
}
/* Surface Duo adaptive */
@media (max-width: 540px) {
    .sign-up__form input {
        width: 450px;
    }
}
/* iPhone XR adaptive */
@media (max-width: 414px) {
    .sign-up__form input {
        width: 370px;
    }
}
/* Pixel 5 adaptive */
@media (max-width: 393px) {
    .sign-up__form input {
        width: 340px;
    }
}
/* iPhone 12 Pro adaptive */
@media (max-width: 390px) {
    .sign-up__form input {
        width: 345px;
    }
}
/* iPhone SE adaptive */
@media (max-width: 375px) {
    .sign-up__form input {
        width: 300px;
    }
}
/* Galaxy Fold adaptive */
@media (max-width: 280px) {
    .sign-up__form input {
        width: 220px;
    }
}
/* Rooms page styles */
.chat__page {
    width: 100%;
    height: 970px;
    display: flex;
    align-items: center;
    background-color: #F4F4F4;
    justify-content: center;
}
/* Desktop adaptive */
@media (max-width: 1440px) {
    .chat__page {
        height: 1024px;
    }
}

@media (max-width: 1280px) {
    .chat__page {
        height: 1024px;
    }
}

@media (max-width: 1024px) {
    .chat__page {
        height: 768px;
    }
}
/* Surface Pro 7 adaptive */
@media (max-width: 912px) {
    .chat__page {
        height: 1368px;
    }
}
/* Tablet adaptive */
@media (max-width: 834px) {
    .chat__page {
        height: 1194px;
    }
}
/* iPad Air adaptive */
@media (max-width: 820px) {
    .chat__page {
        height: 1180px;
    }
}
/* iPad Mini adaptive */
@media (max-width: 768px) {
    .chat__page {
        height: 1024px;
    }
}
/* Surface Duo adaptive */
@media (max-width: 540px) {
    .chat__page {
        height: 720px;
    }
}
/* Movile adaptive */
@media (max-width: 428px) {
    .chat__page {
        height: 926px;
    }
}
/* iPhone XR adaptive */
@media (max-width: 414px) {
    .chat__page {
        height: 896px;
    }
}
/* Samsung S20 Ultra adaptive */
@media (max-width: 412px) {
    .chat__page {
        height: 915px;
    }
}
/* Pixel 5 adaptive */
@media (max-width: 393px) {
    .chat__page {
        height: 851px;
    }
}
/* iPhone 12 Pro adaptive */
@media (max-width: 390px) {
    .chat__page {
        height: 844px;
    }
}
/* iPhone SE adaptive */
@media (max-width: 375px) {
    .chat__page {
        height: 667px;
    }
}
/* Samsung Galaxy S8+ adaptive */
@media (max-width: 360px) {
    .chat__page {
        height: 740px;
    }
}

.chat__card {
    width: 546px;
    height: auto;
    margin: 0 auto;
    background-color: #FFFFFF;
    text-align: center;
}
/* Mobile adaptive */
@media (max-width: 428px) {
    .chat__card {
        width: 400px;
    }
}
/* iPhone XR adaptive */
@media (max-width: 414px) {
    .chat__card {
        width: 380px;
    }
}
/* iPhone SE adaptive */
@media (max-width: 375px) {
    .chat__card {
        width: 300px;
    }
}
/* Galaxy Fold adaptive */
@media (max-width: 280px) {
    .chat__card {
        width: 230px;
    }
}

.chat__form {
    position: relative;
}

.chat__btn {
    position: absolute;
    left: 77.5%;
    top: 6%;
    background: #5D5FEF;
    border-radius: 5px;
    padding: 11px 25px 11px 25px;
    border: none;
    color: #F4F4F4;
}
/* Mobile adaptive */
@media (max-width: 428px) {
    .chat__btn {
        left: 73.5%;
    }
}
/* iPhone XR adaptive */
@media (max-width: 414px) {
    .chat__btn {
        left: 72%;
    }
}
/* iPhone SE adaptive */
@media (max-width: 375px) {
    .chat__btn {
        left: 64.5%;
    }
}
/* Galaxy Fold adaptive */
@media (max-width: 280px) {
    .chat__btn {
        left: 54%;
    }
}

.chat__rooms {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    position: relative;
}

.pagination-section {
    margin: 10px;
}

.pagination-link {
    background-color: #7879F1;
    color: #fff;
    padding: 4px 10px 4px 10px;
    border-radius: 50%;
    text-decoration: none;
}

.page-num-selected {
    background-color: #44f5b1;
    color: #5D5FEF;
}

.room__link {
    padding: 15px;
    background: #7879F1;
    background-image: url('https://img.icons8.com/ios/512/circled-chevron-right.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 25px;
    background-origin: content-box;
    color: ##F4F4F4;
    width: 460px;
    height: 20px;
    margin-bottom: 0.5em;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
/* Mobile adaptive */
@media (max-width: 428px) {
    .room__link {
        width: 350px;
    }
}
/* iPhone XR adaptive */
@media (max-width: 414px) {
    .room__link {
        width: 330px;
    }
}
/* iPhone SE adaptive */
@media (max-width: 375px) {
    .room__link {
        width: 250px;
    }
}
/* Galaxy Fold adaptive */
@media (max-width: 280px) {
    .room__link {
        width: 180px;
    }
}

.room__link:hover {
    background: #44f5b1;
    color: #5D5FEF;
    background-image: url('https://img.icons8.com/ios/512/circled-chevron-right.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 25px;
    background-origin: content-box;
}

.input {
    width: 480px;
    height: 40px;
    border: 1.8px solid gainsboro;
    text-indent: 1em;
    margin-bottom: 2em;
}
/* Mobile adaptive */
@media (max-width: 428px) {
    .input {
        width: 370px;
    }
}
/* iPhone XR adaptive */
@media (max-width: 414px) {
    .input {
        width: 350px;
    }
}
/* iPhone SE adaptive */
@media (max-width: 375px) {
    .input {
        width: 270px;
    }
}
/* Galaxy Fold adaptive */
@media (max-width: 280px) {
    .input {
        width: 200px;
    }
}

input:focus {
    outline: none;
}

/* Chat page styles */
.messenger__page {
    width: 100%;
    height: 969px;
    display: flex;
    background-color: #F4F4F4;
    justify-content: center;
}
/* Desktop adaptive */
@media (max-width: 1440px) {
    .messenger__page  {
        height: 1024px;
    }
}
/* Tablet adaptive */
@media (max-width: 834px) {
    .messenger__page  {
        height: 1194px;
    }
}
/* iPad Air adaptive */
@media (max-width: 820px) {
    .messenger__page  {
        height: 1180px;
    }
}
/* iPad Mini adaptive */
@media (max-width: 768px) {
    .messenger__page  {
        height: 1024px;
    }
}
/* iPhone XR adaptive */
@media (max-width: 414px) {
    .messenger__page  {
        height: 896px;
    }
}
/* Pixel 5 adaptive */
@media (max-width: 393px) {
    .messenger__page  {
        height: 851px;
    }
}
/* iPhone 12 Pro adaptive */
@media (max-width: 390px) {
    .messenger__page  {
        height: 844px;
    }
}
/* iPhone SE adaptive */
@media (max-width: 375px) {
    .messenger__page  {
        height: 667px;
    }
}

.messenger__card {
    width: 30%;
    height: 969px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
/* Desktop adaptive */
@media (max-width: 1440px) {
    .messenger__card  {
        width: 546px;
        height: 1024px;
    }
}
/* Tablet adaptive */
@media (max-width: 834px) {
    .messenger__card  {
        width: 696px;
        height: 1194px;
    }
}

/* iPad Air adaptive */
@media (max-width: 820px) {
    .messenger__card  {
        width: 1050px;
        height: 1180px;
    }
}
/* iPad Mini adaptive */
@media (max-width: 768px) {
    .messenger__card  {
        width: 768px;
        height: 1024px;
    }
}
/* iPhone XR adaptive */
@media (max-width: 414px) {
    .messenger__card  {
        width: 414px;
        height: 896px;
    }
}
/* Pixel 5 adaptive */
@media (max-width: 393px) {
    .messenger__card  {
        height: 851px;
    }
}
/* iPhone 12 Pro adaptive */
@media (max-width: 390px) {
    .messenger__card  {
        width: 390px;
        height: 844px;
    }
}
/* iPhone SE adaptive */
@media (max-width: 375px) {
    .messenger__card  {
        width: 375px;
        height: 660px;
    }
}
/* Samsung Galaxy S8+ adaptive */
@media (max-width: 360px) {
    .messenger__card  {
        height: 740px;
    }
}

.chat__info {
    width: 100%;
    text-align: center;
}

.chat__header {
    position: relative;
}

.chat__door {
    position: absolute;
    left: 90%;
    top: 45%;
}

.chat__title {
    margin-bottom: 0px;
    text-align: center;
}

.chat__members {
    margin-top: 5px;
    padding-bottom: 10px;
    font-size: 0.8em;
    color: rgb(168, 168, 168);
    border-bottom: 1.8px solid gainsboro;
}

.chat__date {
    font-size: 0.8em;
    color: rgb(168, 168, 168);
}

.chat__input {
    background: url(images/send-mail.svg) no-repeat center right;
    width: 99.4%;
    height: 40px;
    border: none;
    text-indent: 1em;
}

.chat__messages {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
}

.right__message {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: right;
    padding: 10px;
    margin: 2% 1.5% 2% 35%;
    max-width: 90%;
    background: #7879F1;
    color: #fff;
    y-overflow: visible;
    border-radius: 6px 0px 6px 6px;
}

.left__message {
    position:relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: left;
    padding: 10px;
    margin: 2% 35% 2% 4%;
    max-width: 90%;
    background: #F4F4F4;
    y-overflow: visible;
    border-radius: 0px 6px 6px 6px;
    z-index: 1;
}

.left__message::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 13px;
    top: 0;
    left: -7%;
    border-bottom: 0px solid transparent;
    border-left: 2em solid transparent;
    border-top: 3.5em solid #F4F4F4;
    z-index: -1;
}

.send__info {
    display: flex;
    flex-direction: row;
    align-items: end;
}

/* Message send check marker */
.check__send {
    height: 15px;
    width: 15px;
    margin: 0px 0px 2px 5px;
}

.message__container {
    align-items: justify;
}

.message__username {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 4px;
}

.message__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    max-width: 250px;
    word-wrap: break-word;
}

.message__date {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    align-self: flex-end;
    padding-top: 1em;
    margin-bottom: 0px;
    color: darkgrey;
}

.send__btn {
    border: none;
    outline: none;
    background: inherit;
    border-radius: 0.5em;
}

.form-control {
    border-top: 1.8px solid gainsboro;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* Messages scrollbar styles for webkit browsers */
.chat__messages::-webkit-scrollbar {
    width: 0.4em;
}

.chat__messages::-webkit-scrollbar-track {
    background-color: inherit;
}

.chat__messages::-webkit-scrollbar-thumb {
    background-color: #F4F4F4;
    border-radius: 1em;
}
